.main-nav{
  display: flex;
}
.main-nav__link{
  text-decoration: none;
}
.main-nav__item{
  list-style: none;
}
.main-nav__list{
  display: flex;
  padding: 0;
}
.main-nav__left-link{
  padding-left: 28px;
  padding-right: 28px;
  &:first-child{
    padding-left: 0px;
  }
}
